Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks):
zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832].
Найдите ковариацию этих двух величин с помощью элементарных действий, а затем с помощью функции cov из numpy
Полученные значения должны быть равны.
Найдите коэффициент корреляции Пирсона с помощью ковариации и среднеквадратичных отклонений двух признаков,
а затем с использованием функций из библиотек numpy и pandas.

In [36]:
from pandas import DataFrame
from numpy import cov

dataset = DataFrame({'zp': [35, 45, 190, 200, 40, 70, 54, 150, 120, 110],
                     'ks': [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})

# формула 1
# print(((dataset['zp'] * dataset['ks']) - (dataset['zp'].mean() * dataset['ks'].mean())).mean())
# формула 2
coef_covar = sum((dataset['zp'] - dataset['zp'].mean()) * (dataset['ks'] - dataset['ks'].mean())) / (dataset.shape[0] - 1)
print(coef_covar)
# numpy
print(cov(dataset['zp'], dataset['ks'])[0,1])
# pandas
print(dataset.cov())

# corr

print(dataset.corr())

print(coef_covar / (dataset['zp'].std() * dataset['ks'].std()))

10175.377777777778
10175.377777777778
              zp            ks
zp   3882.933333  10175.377778
ks  10175.377778  33854.322222
         zp       ks
zp  1.00000  0.88749
ks  0.88749  1.00000
0.8874900920739162

Измерены значения IQ выборки студентов,
обучающихся в местных технических вузах:
131, 125, 115, 122, 131, 115, 107, 99, 125, 111.
Известно, что в генеральной совокупности IQ распределен нормально.
Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [41]:
iq = [131, 125, 115, 122, 131, 115, 107, 99, 125, 111]

avg_iq = sum(iq) / len(iq)

((avg_iq - (2 * (avg_iq / len(iq)) ** 0.5)), (avg_iq + (2 * (avg_iq / len(iq)) ** 0.5)))

(111.22686388902416, 124.97313611097583)

Известно, что рост футболистов в сборной распределен нормально
с дисперсией генеральной совокупности, равной 25 кв.см. Объем выборки равен 27,
среднее выборочное составляет 174.2. Найдите доверительный интервал для математического
ожидания с надежностью 0.95.

In [43]:
((174.2 - (2 * (174.2 / 27) ** 0.5)), (174.2 + (2 * (174.2 / 27) ** 0.5)))

(169.11990084669526, 179.28009915330472)

Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики
и напишите ее в комментарии к Практическому заданию.

In [63]:
https://www.kaggle.com/datasets/jimschacko/airlines-dataset-to-predict-a-delay
    
Проверка гипотезы: чем больше расстояние между аэропортами вылета и прилёта - тем более вероятна задержка рейса.

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730
5,"20,000 Leagues Under the Sea",1954-12-23,Adventure,NaN,28200000,528279994
6,Lady and the Tramp,1955-06-22,Drama,G,93600000,1236035515
7,Sleeping Beauty,1959-01-29,Drama,NaN,9464608,21505832
8,101 Dalmatians,1961-01-25,Comedy,G,153000000,1362870985
9,The Absent Minded Professor,1961-03-16,Comedy,NaN,25381407,310094574